body{
font-family: 'Lato', sans-serif;
font-size: 16px;
background-color: #141413;
/*background-image: url("tlo.jpg");*/
}

/*browser border compatibility?*/
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}



.kontyner{
	width: 80%;
	
	background-color: white;
	border: 1px solid black;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 3px 10px 7px -6px rgba(0,0,0,0.75);
	z-index: 1;

}

.web{
	width: 10%;
	height: 35px;
	background-color:#45453F ;
	margin-left:69.5%;
	position: absolute;
	border-radius: 60px 60px 0px 0px;
	margin-top: -34px;
	text-align: center;
	font-size: 25px;



}

.graphic{
	width: 10%;
	height: 35px;
	background-color: #45453F;
	margin-left:59%;
	position: absolute;
	border-radius: 60px 60px 0px 0px;
	margin-top: -34px;
	text-align: center;
	font-size: 25px;

}

.photo{
	width: 10%;
	height: 35px;
	background-color: #fff;
	margin-left:48.5%;
	position: absolute;
	border-radius: 60px 60px 0px 0px;
	margin-top: -34px;
	text-align: center;
	font-size: 25px;


}


a{
  text-decoration: none;
	color:black;
}

div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 20px;
  z-index: 2;
  display: inline-block;

}

div.container {
  text-align: center;
  padding: 10px 20px;
}

h2{
	margin-left:22px;
}